[submodule ".vim/bundle/Vundle.vim"]
  path = .vim/bundle/Vundle.vim
  url = https://github.com/VundleVim/Vundle.vim.git

[submodule ".vim/bundle/lightline.vim"]
  path = .vim/bundle/lightline.vim
  url = https://github.com/itchyny/lightline.vim.git

[submodule ".vim/bundle/nerdtree"]
  path = .vim/bundle/nerdtree
  url = https://github.com/scrooloose/nerdtree.git

[submodule ".vim/vim-latex"]
  path = .vim/bundle/vim-latex
  url = https://github.com/vim-latex/vim-latex.git
[submodule ".vim/bundle/previm"]
	path = .vim/bundle/previm
	url = https://github.com/kazuph/previm.git
	branch = feature/add-plantuml-plugin
[submodule ".vim/bundle/open-browser.vim"]
	path = .vim/bundle/open-browser.vim
	url = https://github.com/tyru/open-browser.vim.git
