..vimrc.un~
.vimrc~
.setup_win.bat.un~
.setup_win.bat.swp
setup_win.bat~
.vim/.netrwhist
..gitmodules.un~
.gitmodules~
.gitmodules.swp
.setup_mac.command.swp
.vimrc.swp
Iconr
..gvimrc.un~
.gvimrc~
.vim/ftplugin/.tex_quickrun.vim.un~
.vim/ftplugin/tex_quickrun.vim~
.setup_mac.command.un~
setup_mac.command~
