..vimrc.un~
.vimrc~
.setup_win.bat.un~
.setup_win.bat.swp
setup_win.bat~
.vim/.netrwhist
..gitmodules.un~
.gitmodules~
.gitmodules.swp
.setup_mac.command.swp
.vimrc.swp
Iconr
..gvimrc.un~
.gvimrc~
.vim/ftplugin/.tex_quickrun.vim.un~
.vim/ftplugin/tex_quickrun.vim~
.setup_mac.command.un~
setup_mac.command~
*.un~
*.swp
*.bashrc~
.bash_profile~
neovim/nvim/.netrwhist
*.vim~
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/__pycache__/__init__.cpython-37.pyc
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/sub_modules/__pycache__/settings_reader.cpython-37.pyc
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/sub_modules/__pycache__/openocd_runner.cpython-37.pyc
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/sub_modules/__pycache__/gdb_runner.cpython-37.pyc
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/__pycache__/__init__.cpython-38.pyc
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/sub_modules/__pycache__/gdb_runner.cpython-38.pyc
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/sub_modules/__pycache__/openocd_runner.cpython-38.pyc
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/sub_modules/__pycache__/settings_reader.cpython-38.pyc
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/__pycache__/__init__.cpython-39.pyc
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/sub_modules/__pycache__/gdb_runner.cpython-39.pyc
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/sub_modules/__pycache__/openocd_runner.cpython-39.pyc
neovim/nvim/rplugin/python3/nvim-arm-openocd-gdb-debug/sub_modules/__pycache__/settings_reader.cpython-39.pyc
