[submodule ".vim/bundle/lightline.vim"]
  path = .vim/bundle/lightline.vim
  url = https://github.com/itchyny/lightline.vim.git


[submodule ".vim/vim-latex"]
  path = .vim/bundle/vim-latex
  url = https://github.com/vim-latex/vim-latex.git
[submodule ".vim/bundle/plantuml-syntax"]
	path = .vim/bundle/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
[submodule ".vim/bundle/vimtex"]
	path = .vim/bundle/vimtex
	url = https://github.com/lervag/vimtex.git
[submodule ".vim/bundle/vim-quickrun"]
	path = .vim/bundle/vim-quickrun
	url = https://github.com/thinca/vim-quickrun.git
[submodule ".vim/bundle/vimproc.vim"]
	path = .vim/bundle/vimproc.vim
	url = https://github.com/Shougo/vimproc.vim.git
[submodule ".vim/bundle/neocomplete.vim"]
	path = .vim/bundle/neocomplete.vim
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/gitv"]
	path = .vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule ".vim/bundle/jedi-vim"]
	path = .vim/bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule ".vim/bundle/vim-clang"]
	path = .vim/bundle/vim-clang
	url = https://github.com/justmao945/vim-clang.git
[submodule ".vim/bundle/neoinclude.vim"]
	path = .vim/bundle/neoinclude.vim
	url = https://github.com/Shougo/neoinclude.vim
[submodule ".vim/bundle/neco-syntax"]
	path = .vim/bundle/neco-syntax
	url = https://github.com/Shougo/neco-syntax.git
[submodule ".vim/bundle/vim-lsp"]
	path = .vim/bundle/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
[submodule ".vim/bundle/async.vim"]
	path = .vim/bundle/async.vim
	url = https://github.com/prabirshrestha/async.vim.git
[submodule ".vim/bundle/asyncomplete.vim"]
	path = .vim/bundle/asyncomplete.vim
	url = https://github.com/pdavydov108/asyncomplete.vim.git
